<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
    script(src="jquery.js")
    script(src="main.js")
    script(src="yp.js")
body
    ul
        li this is A
        li this is B
        li this is C
    script(src="es6.es")

    