<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
    script(src="main1.js")
    script.
        var pano = new YP({"xml":"b.xml","target":"pano"})
        console.log(2);
body

    