<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
    script(src="jquery.js")
    script(src="require.js")
    script(src="main.js")
    script(src="my.js")
    script.
        var yp = new YP({xml:"b.xml",target:"flying"})




body
