<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="viewer/view.scss")
    script(src="jquery.js")
    script(src="require.js")
    script(src="main.js")
    script(src="/src/method/hotspot.js")
    script(src="avalon.js")
    script(src="h.js")
    script.
        var yp = new YP({xml:"h.xml"})

       


body
