/* {{{ css reset
html5doctor.com Reset Stylesheet v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
button {
  border: none;
}
/* }}} */
input.addHot-title-title,
textarea.textarea-content {
  color: #fff;
  padding-left: 5px;
}
.icon-link {
  background: url("/p/hotspot/default/images/icon.png");
  width: 22px;
  height: 22px;
  float: left;
  background-position: -50px -18px;
}
.icon-link.curr {
  background-position: -50px -44px;
}
.icon-label {
  background: url("/p/hotspot/default/images/icon.png");
  width: 22px;
  height: 22px;
  float: left;
  background-position: -86px -17px;
}
.icon-label.curr {
  background-position: -86px -44px;
}
.icon-delete {
  background: url("/p/hotspot/default/images/icon.png");
  width: 22px;
  height: 22px;
  float: left;
  background-position: -119px -17px;
}
.icon-delete.curr {
  background-position: -119px -44px;
}
.icon-edit {
  background: url("/p/hotspot/default/images/icon.png");
  width: 22px;
  height: 22px;
  float: left;
  background-position: -147px -18px;
}
.icon-edit.curr {
  background-position: -147px -44px;
}
.hotspot {
  position: relative;
}
.hotspot .hotspot-link,
.hotspot .hotspot-edit {
  position: absolute;
  left: -11px;
  top: -70px;
}
.hotspot .hotspot-delete {
  position: absolute;
  left: -10px;
  top: 46px;
}
.hotspot .hotspot-label {
  position: absolute;
  left: -42px;
  top: -11px;
}
.hotspot > .hotspot-i {
  width: 32px;
  height: 32px;
  background-color: rgba(47, 52, 65, 0.8);
  border: solid 1px #fff;
  -moz-border-radius: 32px;
  /* Gecko browsers */
  -webkit-border-radius: 32px;
  /* Webkit browsers */
  border-radius: 32px;
  /* W3C syntax */
}
.hotspot > .hotspot-i > i {
  margin-left: 5px;
  margin-top: 5px;
}
.hotspot > .hotspot-i.curr {
  border: none;
  background-color: #fff;
}
.model * {
  box-sizing: border-box;
}
.model {
  position: absolute;
  z-index: 5001;
  width: 200px;
  -moz-border-radius: 5px;
  /* Gecko browsers */
  -webkit-border-radius: 5px;
  /* Webkit browsers */
  border-radius: 5px;
  /* W3C syntax */
  overflow: hidden;
}
.model .title {
  width: 100%;
  height: 40px;
  background-color: rgba(47, 52, 65, 0.95);
  color: #fff;
  font-size: 14px;
  line-height: 40px;
  font-family: "微软雅黑";
  font-weight: bolder;
  -webkit-box-shadow: 0 1px 0px #000;
  -moz-box-shadow: 0 1px 0px #000;
  box-shadow: 0 1px 0px #000;
  padding-left: 10px;
}
.model .contents {
  width: 100%;
  overflow: hidden;
  background-color: rgba(47, 52, 65, 0.8);
}
.model .close {
  position: absolute;
  right: 10px;
  top: 13px;
  width: 12px;
  height: 12px;
  cursor: pointer;
  background: url(../images/close.png) no-repeat;
}
.hotspot {
  cursor: default;
}
.hotspot .hotspot-i > i {
  cursor: pointer;
}
.hotspot-link-view {
  position: absolute;
  left: 92px;
  top: 20px;
  font-size: 16px;
  background-color: rgba(47, 52, 65, 0.8);
  padding: 3px 12px;
  color: #fff;
  -moz-border-radius: 5px;
  /* Gecko browsers */
  -webkit-border-radius: 5px;
  /* Webkit browsers */
  border-radius: 5px;
  /* W3C syntax */
  word-break: keep-all;
  /* 不换行 */
  white-space: nowrap;
}
.hotspot-link-model .model {
  top: -95px;
  left: -245px;
}
.hotspot-link-model .model .contents .content {
  max-height: 300px;
}
.hotspot-link-model .model .contents .content ul {
  overflow: hidden;
}
.hotspot-link-model .model .contents .content ul li {
  width: 100%;
  height: 30px;
  color: #B4B4B4;
  line-height: 30px;
  font-size: 12px;
  -webkit-box-shadow: 0 1px 0px #1B1B31;
  -moz-box-shadow: 0 1px 0px #1B1B31;
  box-shadow: 0 1px 0px #1B1B31;
  font-family: "宋体";
  cursor: pointer;
}
.hotspot-link-model .model .contents .content ul li:hover,
.hotspot-link-model .model .contents .content ul li.curr {
  background-color: #3A97D8;
  color: #fff;
}
.hotspot-label-model .model {
  width: 290px;
  top: 0px;
  left: -302px;
}
.hotspot-label-model .model .contents .content .listIcon {
  max-height: 180px;
}
.hotspot-label-model .model .contents .content ul.getSpot:first-child {
  display: block;
}
.hotspot-label-model .model .contents .content ul.getSpot {
  max-height: 90px;
  padding: 10px 0 10px 0;
  display: none;
}
.hotspot-label-model .model .contents .content ul.getSpot li {
  width: 60px;
  height: 60px;
  padding: 10px;
  float: left;
  background-color: #35383F;
  border-radius: 2px;
  margin-left: 8px;
  text-align: center;
  margin-bottom: 10px;
  display: table-cell;
  line-height: 40px;
  cursor: pointer;
}
.hotspot-label-model .model .contents .content ul.getSpot li img {
  width: 100%;
  height: 100%;
}
.hotspot-label-model .model .contents .content ul.getSpot li:hover {
  background-color: #3A97D8;
}
.hotspot-label-model .model .contents .content ul.getSpot li.curr {
  background-color: #3A97D8;
}
.hotspot-label-model .model .contents .content .apply {
  width: 290px;
  height: 50px;
  background-color: #35383F;
}
.hotspot-label-model .model .contents .content .apply .apply_array {
  width: 50px;
  float: left;
  height: 50px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  line-height: 50px;
}
.hotspot-label-model .model .contents .content .apply .apply_array img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
.hotspot-label-model .model .contents .content .apply .apply_array:hover {
  background-color: #1A1C1F;
}
.hotspot-label-model .model .contents .content .apply .curr {
  background-color: #1A1C1F;
}
.hotspot-label-model .model .contents .content .apply .apply_nav {
  position: relative;
  width: 250px;
  float: left;
  height: 50px;
  overflow: hidden;
}
.hotspot-label-model .model .contents .content .apply .apply_nav .apply_w {
  position: absolute;
  float: left;
  left: 0px;
}
.hotspot-label-model .model .contents .content .apply .img_l,
.hotspot-label-model .model .contents .content .apply .img_r {
  float: left;
  cursor: pointer;
  width: 20px;
  height: 50px;
  line-height: 50px;
}
.hotspot-delete-model .model {
  top: 0;
  left: -202px;
}
.hotspot-delete-model .model .content {
  padding: 15px 0;
  text-align: center;
  font-family: 微软雅黑;
}
.hotspot-delete-model .model .content .cancel {
  margin-right: 20px;
}
.hotspot-delete-model .model .content .cancel,
.hotspot-delete-model .model .content .sure {
  background-color: #35383f;
  width: 60px;
  height: 24px;
  line-height: 24px;
  color: #b4b4b4;
  margin-top: 10px;
  border-radius: 2px;
  font-family: 微软雅黑;
  cursor: pointer;
}
.hotspot-delete-model .model .content .cancel:hover,
.hotspot-delete-model .model .content .sure:hover {
  background-color: #3a97d8;
  color: #fff;
}
.mCSB_inside > .mCSB_container {
  margin-right: 0!important;
}
