.clear {
  clear: both;
}
.button-com {
  border: 1px solid #e5e5e5;
  text-align: center;
  width: 100px;
  height: 35px;
  line-height: 35px;
  background-color: #fff;
}
.model-roamingmap {
  display: none;
  height: 410px;
  min-height: 410px;
}
.model-roamingmap * {
  box-sizing: border-box;
}
.model-roamingmap .content {
  height: 100%;
}
.model-roamingmap .content .content-left {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
}
.model-roamingmap .content .content-left .buttons {
  position: absolute;
  z-index: 5000;
  right: 13px;
  top: 5px;
}
.model-roamingmap .content .content-left .buttons button {
  background: #000;
  width: 80px;
  height: 30px;
  color: #fff;
  border-radius: 2px;
  margin-left: 10px;
  font-size: 14px;
  font-family: 微软雅黑;
}
.model-roamingmap .content .content-left .buttons button:hover {
  background: #008aff;
  color: #fff;
}
.model-roamingmap .content .content-left .buttons .scen-qhbtn {
  position: relative;
  float: left;
  width: 80px;
  margin-right: 10px;
}
.model-roamingmap .content .content-left .buttons .scen-qhbtn .chosed-scence {
  width: 100%;
  position: absolute;
  top: 30px;
  left: 10px;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  display: none;
}
.model-roamingmap .content .content-left .buttons .scen-qhbtn .chosed-scence li {
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  border-bottom: 1px solid #000;
}
.model-roamingmap .content .content-left .buttons .scen-qhbtn .chosed-scence li:not(.disabled):hover {
  background-color: #3A97D8;
}
.model-roamingmap .content .content-left .buttons .scen-qhbtn .chosed-scence li.disabled {
  cursor: no-drop;
}
.model-roamingmap .content .content-left .buttons .scen-qhbtn .chosed-scence li.curr {
  background-color: #3A97D8;
}
.model-roamingmap .content .content-left .logger {
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.61);
  bottom: 0;
  right: 0;
  height: 60px;
  width: 100px;
  pointer-events: none;
  border-radius: 5px 0 0 0;
}
.model-roamingmap .content .content-left .last {
  z-index: 1;
  transition: transform 0.4s ease-in-out;
}
.model-roamingmap .content .content-left .last img {
  z-index: 999999;
  position: absolute;
  left: 0;
}
.model-roamingmap .content .content-left .last:hover,
.model-roamingmap .content .content-left .last:active {
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.model-roamingmap .content .content-left .icon {
  background-image: url(/images/icon.png);
  width: 82px;
  height: 82px;
  position: absolute;
  top: -29px;
  left: -29px;
  z-index: 3003;
}
.model-roamingmap .content .content-left .icon i {
  background-image: url(/images/icon2_2.png);
  width: 22px;
  height: 22px;
  /* float: left; */
  margin: 0 auto;
  position: absolute;
  left: 30px;
  top: -8px;
}
.model-roamingmap .content .content-left .icon i:hover,
.model-roamingmap .content .content-left .icon i:active {
  background-image: url(/images/icon1_1.png);
}
.model-roamingmap .content .content-right {
  color: #777;
  width: 260px;
  float: right;
  font-size: 14px;
  padding: 10px 20px;
  border-left: 1px solid #e5e5e5;
}
.model-roamingmap .content .content-right .up-title {
  position: relative;
  height: 35px;
  margin-bottom: 20px;
}
.model-roamingmap .content .content-right .up-title .upmap {
  position: absolute;
  border: 1px solid #e5e5e5;
  text-align: center;
  width: 100px;
  height: 35px;
  line-height: 35px;
  background-color: #fff;
  left: 0px;
  cursor: pointer;
  padding: 0;
}
.model-roamingmap .content .content-right .up-title .addfile {
  opacity: 0;
}
.model-roamingmap .content .content-right .up-title .aad-rot {
  position: absolute;
  border: 1px solid #e5e5e5;
  text-align: center;
  width: 100px;
  height: 35px;
  line-height: 35px;
  background-color: #fff;
  left: 140px;
  cursor: pointer;
  padding: 0;
}
.model-roamingmap .content .content-right .set-map {
  color: #777;
  clear: both;
  border: 1px solid #e5e5e5;
  padding: 10px;
}
.model-roamingmap .content .content-right .set-map .link-font,
.model-roamingmap .content .content-right .set-map .coordinatex-desc,
.model-roamingmap .content .content-right .set-map .radar-view {
  display: inline-block;
  width: 80px;
  text-align: right;
  padding-right: 20px;
  float: left;
}
.model-roamingmap .content .content-right .set-map .link-sence,
.model-roamingmap .content .content-right .set-map .coordinatex,
.model-roamingmap .content .content-right .set-map .coordinatey,
.model-roamingmap .content .content-right .set-map .radar {
  height: 30px;
  line-height: 30px;
  margin-bottom: 20px;
}
.model-roamingmap .content .content-right .set-map .choose-sence,
.model-roamingmap .content .content-right .set-map .x-coordinatex,
.model-roamingmap .content .content-right .set-map .y-coordinatex,
.model-roamingmap .content .content-right .set-map .radar-num {
  width: 110px;
  height: 30px;
}
.model-roamingmap .content .content-right .set-map .hotspot {
  text-align: center;
}
.model-roamingmap .content .content-right .set-map .hotspot .save-hotspot,
.model-roamingmap .content .content-right .set-map .hotspot .delet-hotspot {
  width: 70px;
  height: 30px;
  text-align: Center;
  line-height: 30px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  padding: 0;
}
.model-roamingmap .content .content-right .set-map .hotspot .save-hotspot {
  background-color: #008aff;
  margin-right: 20px;
}
.model-roamingmap .content .content-right .set-map .hotspot .delet-hotspot {
  background-color: #f00;
}
.model-roamingmap .content .content-right .delet {
  margin-top: 20px;
  text-align: right;
}
.model-roamingmap .content .content-right .delet .delet-map {
  width: 110px;
  line-height: 35px;
  background-color: #f00;
  text-align: center;
  color: #fff;
  cursor: pointer;
  padding: 0;
}
.model-roamingmap .warm {
  display: none;
  background: rgba(0, 0, 0, 0.4);
  width: 145px;
  height: 20px;
  line-height: 20px;
  padding: 5px 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -85px;
  text-align: center;
}
.toolbar-button {
  box-shadow: 0px 1px 0px #000;
}
.toolbar-content {
  margin-top: 1px;
}
.plugin-map {
  display: none;
}
.toolbar-content .plugin-map {
  display: block;
}
.toolbar-content .plugin-map .plugin-map-upload {
  background: rgba(47, 52, 65, 0.8);
  height: 50px;
  line-height: 50px;
  position: relative;
}
.toolbar-content .plugin-map .plugin-map-upload i {
  width: 14px;
  height: 14px;
  left: 40px;
  top: 18px;
  background: url(/p/map/default/images/addP.png) no-repeat;
}
.toolbar-content .plugin-map .plugin-map-upload .plugin-map-uploadfile {
  opacity: 0;
  position: absolute;
  font-size: 200px;
  top: 0;
  right: 0;
}
.toolbar-content .plugin-map .plugin-map-list {
  padding: 0 5px;
  line-height: 38px;
  height: 140px;
  overflow: hidden;
  padding-bottom: 10px;
}
.toolbar-content .plugin-map .plugin-map-list ul {
  overflow: hidden;
}
.toolbar-content .plugin-map .plugin-map-list .progress {
  position: absolute;
  bottom: 3px;
  left: 40px;
  width: 140px;
  height: 5px;
  margin-bottom: 0;
}
.toolbar-content .plugin-map .plugin-map-list li {
  height: 40px;
  border-radius: 3px;
  line-height: 40px;
  display: block;
  color: #fff;
  text-decoration: none;
  background-color: #35383F;
  margin: 1px 0px;
  border-radius: 5px;
  clear: both;
  position: relative;
}
.toolbar-content .plugin-map .plugin-map-list li li.curr {
  background-color: #3A98D8;
}
.toolbar-content .plugin-map .plugin-map-list li .left-bor {
  border-left: 2px solid #eee;
  height: 30px;
  filter: alpha(opacity=29);
  -moz-opacity: 0.29;
  -khtml-opacity: 0.29;
  opacity: 0.29;
  position: absolute;
  left: 31px;
  top: 6px;
}
.toolbar-content .plugin-map .plugin-map-list li .plugin-map-name {
  width: 90px;
  font-size: 14px;
  background: none;
  font-family: 微软雅黑;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.toolbar-content .plugin-map .plugin-map-list li input.name {
  color: #fff;
  font-family: 微软雅黑;
  font-size: 14px;
  background-color: #2C333D;
}
.toolbar-content .plugin-map .plugin-map-list li .drap {
  display: inline-block;
  width: 33px;
  height: 40px;
  float: left;
  text-align: Center;
  background-position: -488px -131px;
  position: absolute;
  left: 0;
  top: 1px;
}
.toolbar-content .plugin-map .plugin-map-list li .editName {
  background-position: -406px -116px;
}
.toolbar-content .plugin-map .plugin-map-list li .bj-common {
  left: 135px ;
  top: 10px ;
}
.toolbar-content .plugin-map .plugin-map-list li .editName:hover {
  background-position: -406px -97px;
}
.toolbar-content .plugin-map .plugin-map-list li .save-com {
  background-position: -637px -288px;
  display: none;
}
.toolbar-content .plugin-map .plugin-map-list li .delet-btn {
  display: block;
  width: 16px;
  height: 17px;
  background-position: -332px -119px;
  position: absolute;
  left: 162px;
  top: 13px;
  display: none;
}
.toolbar-content .plugin-map .plugin-map-list li .delet-btn:hover {
  background-position: -332px -99px;
}
.toolbar-content .plugin-map .plugin-map-list li.choose {
  background-color: #3A98D8;
}
.toolbar-content .plugin-map .plugin-map-list li.choose .name {
  background-color: #3A98D8;
}
.toolbar-content .plugin-map .plugin-map-list li.choose .delet-btn {
  display: block;
}
.toolbar-content .plugin-map .plugin-map-list li.choose .drap {
  background-position: -488px -77px;
}
.toolbar-content .plugin-map .plugin-map-list li:hover {
  text-decoration: none;
}
.toolbar-content .plugin-map .plugin-map-list li:hover .left-bor {
  border-left: 2px solid #5EAEE3;
}
.toolbar-content .plugin-map .plugin-map-list li:hover .delet-btn {
  display: block;
}
.toolbar-content .plugin-map .plugin-map-list li:hover .drap {
  background-position: -488px -86px;
}
.toolbar-content .plugin-map .plugin-map-list li.curr {
  background-color: #3A98D8;
}
.pano .map-alone .layui-layer-title {
  text-align: left;
  font-size: 14px;
  box-shadow: 0px 2px 0px #000;
}
.map-delet {
  background-color: #fff;
}
.map-delet .layui-layer-title {
  background-color: #fff ;
  font-size: 18px ;
}
.map-delet .layui-layer-btn {
  text-align: center;
}
.map-delet .layui-layer-content {
  padding: 0 ;
}
.view-map {
  position: absolute;
  left: inherit ;
  right: 100px;
  bottom: 230px;
  top: aut;
  background: rgba(47, 52, 65, 0.7);
  border-radius: 5px 5px 0 0;
}
.view-map .layui-layer-content {
  padding-left: 52px;
}
.view-map .pTitle {
  display: none;
}
.view-map .scene-common {
  width: 52px;
  font-size: 12px;
  text-align: CENTER;
  color: #a1a1a1;
  z-index: 9999;
  font-family: 微软雅黑;
}
.view-map .total-tab {
  background-color: #2f3441;
  border-radius: 3px;
  top: 10px;
  cursor: pointer;
  height: 24px;
  line-height: 24px;
}
.view-map .total-tab:hover {
  color: #fff;
}
.view-map .scrollScene {
  max-height: 200px;
  overflow: hidden;
  z-index: 99999999;
  float: left;
}
.view-map .scrollScene .getMapList {
  float: left;
  overflow: hidden;
}
.view-map .scene-tab {
  background: rgba(0, 0, 0, 0.8);
}
.view-map .scene-tab li {
  height: 26px;
  line-height: 26px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 1px solid #383737;
}
.view-map .scene-tab li:hover {
  color: #fff;
  background-color: #7BCCC7;
}
.view-map .scene-tab .curr {
  color: #fff;
  background-color: #7BCCC7;
}
.view-map .layui-layer-setwin {
  width: 20px;
  height: 20px;
  right: 18px;
  top: 18px;
}
.view-map .layui-layer-setwin .layui-layer-close2 {
  background: url(/v2.0/store/images/closePop.png) no-repeat;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.view-map .layui-layer-content {
  overflow: hidden;
}
.getMapList {
  width: 262px;
  height: 200px;
  float: left;
}
.view-map .mCSB_scrollTools {
  right: -9px;
}
.deletHotspot .layui-layer-title {
  background: rgba(0, 0, 0, 0.9);
}
.deletHotspot .layui-layer-content {
  height: 0;
  padding: 0;
}
.deletHotspot .layui-layer-btn {
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .view-map {
    position: absolute;
    left: 3%!important;
    width: 94%!important;
    height: 355px!important;
    bottom: 0px;
    margin: auto;
    background: rgba(255, 255, 255, 0.93);
  }
  .view-map i.closea {
    width: 40px;
    height: 40px;
    position: absolute;
    background: url(/images/close1.png) no-repeat;
    background-size: cover;
    bottom: 10px;
    right: 0;
    left: 0;
    margin: auto;
  }
  .view-map .pTitle {
    display: block;
    padding: 15px 0px 15px 10px;
    margin: 0 30px 10px 30px;
    font-size: 16px;
    font-weight: 100;
    border-bottom: 1px solid #fff;
  }
  .view-map .pTitle:before {
    width: 5px;
    height: 18px;
    background: #7BCCC7;
    content: '';
    position: absolute;
    left: 30px;
  }
  .view-map .layui-layer-content {
    padding-left: 52px;
  }
  .view-map .scene-common {
    width: 100%;
    font-size: 12px;
    color: #a1a1a1;
    z-index: 9999;
    font-family: 微软雅黑;
  }
  .view-map .total-tab {
    background-color: #2f3441;
    border-radius: 3px;
    top: 10px;
    cursor: pointer;
    height: 24px;
    line-height: 24px;
  }
  .view-map .total-tab:hover {
    color: #fff;
  }
  .view-map .scrollScene {
    max-height: auto;
    z-index: 99999999;
    float: none;
    height: 40px!important;
    margin: 0 30px;
  }
  .view-map .scrollScene .getMapList {
    float: none;
  }
  .view-map .scene-tab {
    background: rgba(0, 0, 0, 0);
    font-size: 0;
    text-align: left;
    height: 30px;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .view-map .scene-tab li {
    height: 30px;
    width: 50px;
    text-align: center;
    box-sizing: border-box;
    padding: 0 5px;
    line-height: 26px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 0;
    font-size: 16px;
    display: inline-block;
  }
  .view-map .scene-tab li:hover {
    color: #7BCCC7 ;
    background-color: rgba(0, 0, 0, 0);
  }
  .view-map .scene-tab .curr {
    color: #7BCCC7;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
  }
  .view-map .scene-tab .curr:before {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #7BCCC7;
    bottom: 0;
    left: 50%;
  }
  .view-map .layui-layer-setwin {
    width: 20px;
    height: 20px;
    right: 18px;
    top: 18px;
  }
  .view-map .layui-layer-setwin .layui-layer-close2 {
    background: url(/v2.0/store/images/closePop.png) no-repeat;
    width: 100%;
    height: 100%;
    z-index: 9999;
  }
  .view-map .layui-layer-content {
    overflow: hidden;
  }
  .getMapList {
    width: 100%;
    height: 200px;
    float: none;
    margin: auto;
    text-align: center;
    padding: 0 30px;
    box-sizing: border-box;
    overflow: hidden;
  }
  .view-map .mCSB_scrollTools {
    right: 0px;
  }
  .view-map .layui-layer-wrap {
    overflow: hidden;
  }
  .goLeft,
  .goRight {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 6px;
    top: 60px;
    background: url(/images/icon2_2.png) no-repeat;
    display: none;
  }
  .goRight {
    right: 6px;
    left: auto;
    transform: rotate(180deg);
  }
}
