@charset "utf-8";
.float-l {
  float: left;
}
.float-r {
  float: right;
}
.toolbar-all {
  position: absolute;
  right: 1rem;
  bottom: 95px;
  z-index: 9999;
}
.toolbar-all .showClass {
  width: 38px;
}
.toolbar-all .showClass .curr img:first-child {
  display: none;
}
.toolbar-all .showClass .curr img:last-child {
  display: block;
}
.toolbar-all .showClass .currShow {
  display: block;
}
.toolbar-all .showClass li {
  width: 38px;
  height: 38px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  background-size: 20px auto;
  background-position: center center;
  background-image: url("/v2.0/store/images/themeA/scene.png");
  background-repeat: no-repeat;
  position: relative;
  margin-top: 22px;
}
.toolbar-all .showClass li img {
  width: 100%;
  height: 100%;
  display: none;
}
.toolbar-all .showClass li.btnScene {
  background-image: url("/v2.0/store/images/themeA/scene.png");
}
.toolbar-all .showClass li.btnComment {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-image: url("/v2.0/store/images/themeA/pinlun.png");
  background-color: #fff;
}
.toolbar-all .showClass li.btnComment img {
  width: 0;
  height: 0;
}
.toolbar-all .showClass li.btnContact {
  background-image: url("/v2.0/store/images/themeA/lianxi.png");
}
.toolbar-all .showClass li.btnCommodity {
  background-image: url("/v2.0/store/images/themeA/shangp.png");
}
.toolbar-all .showClass li.btnActivity {
  background-image: url("/v2.0/store/images/themeA/sale.png");
}
.toolbar-all .showClass li.btnVR {
  background-image: url("/v2.0/store/images/themeA/VR.png");
}
.toolbar-all .showClass li.btnMap {
  background-image: url("/v2.0/store/images/themeA/map.png");
}
.toolbar-all .showClass li.btnComponent {
  background-image: url("/v2.0/store/images/themeA/sub.png");
}
.toolbar-all .showClass li:hover {
  background-color: #000000;
}
.toolbar-all .showClass li:hover.btnScene {
  background-image: url("/v2.0/store/images/themeA/sceneCurr.png");
}
.toolbar-all .showClass li:hover.btnComment {
  background-color: #fff;
}
.toolbar-all .showClass li:hover.btnContact {
  background-image: url("/v2.0/store/images/themeA/lianxiCurr.png");
}
.toolbar-all .showClass li:hover.btnCommodity {
  background-image: url("/v2.0/store/images/themeA/shangpCurr.png");
}
.toolbar-all .showClass li:hover.btnActivity {
  background-image: url("/v2.0/store/images/themeA/saleCurr.png");
}
.toolbar-all .showClass li:hover.btnVR {
  background-image: url("/v2.0/store/images/themeA/VRCurr.png");
}
.toolbar-all .showClass li:hover.btnMap {
  background-image: url("/v2.0/store/images/themeA/mapCurr.png");
}
.toolbar-all .showClass li:hover.btnComponent {
  background-image: url("/v2.0/store/images/themeA/subCurr.png");
}
.toolbar-all .store-toolbar {
  height: 0;
  overflow: hidden;
}
.toolbar-all .btnMore {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  background-size: 20px auto;
  background-position: center center;
  background-image: url("/v2.0/store/images/themeA/more.png");
  background-repeat: no-repeat;
  margin-top: 20px;
  cursor: pointer;
  position: relative;
}
.toolbar-all .btnMore.curr {
  background-image: url("/v2.0/store/images/themeA/moreCurr.png");
  background-size: auto 20px;
}
.toolbar-all .curr img:first-child {
  display: none;
}
.toolbar-all .curr img:last-child {
  display: block;
}
.touxiang {
  height: 50px;
  left: 1rem;
  position: absolute;
  top: 2rem;
  z-index: 10000;
  line-height: 50px;
}
.touxiang img {
  border-radius: 8px;
  cursor: pointer;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 50px;
}
.touxiang p {
  font-family: PingFangTC-Regular, sans-serif;
  list-style: none;
  position: absolute;
  left: 55px;
  top: 0;
  font-size: 1.1rem;
  color: #ffffff;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
  text-overflow: ellipsis;
}
.touxiang a {
  list-style: none;
  margin: 0;
  padding: 0;
}
.touxiang html {
  font-size: 20px;
}
.vote {
  bottom: 1rem;
  left: 1rem;
  position: absolute;
  z-index: 10000;
}
.vote .gif {
  display: none;
}
.vote img {
  cursor: pointer;
  float: left;
  height: 38px;
  width: 38px;
}
.vote .guanzhu {
  float: left;
  margin-left: 20px;
}
.vote .guanzhu .liulan p {
  color: #ffffff;
  float: left;
  font-size: 0.6rem;
  font-weight: bold;
  margin-left: 0.35rem;
}
.vote .guanzhu .liulan img {
  height: 0.7rem;
  width: 1rem;
}
.vote .guanzhu .shouyexiaozan {
  margin-top: 1.5rem;
}
.vote .guanzhu .shouyexiaozan p {
  color: #ffffff;
  float: left;
  font-size: 0.6rem;
  font-weight: bold;
  margin-left: 0.5rem;
}
.vote .guanzhu .shouyexiaozan img {
  height: 0.7rem;
  margin-left: 2px;
  width: 0.75rem;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  div,
  ul,
  li,
  a,
  input,
  p,
  span,
  dd,
  dl {
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  #panoView {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .toolbar-all {
    right: 1rem;
    bottom: 80px;
  }
  .toolbar-all .showClass li.btnComment {
    right: 1rem;
  }
}
@keyframes pullup {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes pullup {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.myanim-b {
  animation: pullup 0.3s ease-in-out 0s forwards;
  -webkit-animation: pullup 0.3s ease-in-out 0s forwards;
}
@keyframes pulldown {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
  }
}
@-webkit-keyframes pulldown {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
.myanim-b0 {
  animation: pulldown 0.3s ease-in-out 0s forwards;
  -webkit-animation: pulldown 0.3s ease-in-out 0s forwards;
}
