.snow {
  background: rgba(0, 0, 0, 0);
  color: #ffffff;
  text-align: left;
}
.snow ul,
.snow li,
.snow h5,
.snow hr {
  padding: 0;
  margin: 0;
  list-style: none;
}
.snow .snowtitle {
  color: #999;
  font: 14px/20px "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
  padding: 17px 20px 7px 20px;
}
.snow .snow_list {
  font-size: 0;
}
.snow .snow_list li {
  width: 50%;
  display: inline-block;
  font: 14px/20px "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
  padding: 1px 20px;
  box-sizing: border-box;
}
.snow .snow_list li label {
  display: block;
}
.snow .snow_list li label input {
  margin-right: 5px;
}
.snow .snow_auto label {
  display: block;
}
.snow .snow_auto label input {
  margin-right: 5px;
}
.snow hr {
  heigth: 0;
  border: 0;
  border-top: 1px dashed rgba(255, 255, 255, 0.2);
  margin: 10px 0;
}
.snow .snow_auto {
  padding: 0 20px;
  font: 14px/20px "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
}
.snow .snow_auto .snow_comment {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  padding: 10px 0;
}
.snow .snow_auto .snow_photo {
  width: 90px;
  height: 90px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
}
.snow .snow_auto .for_img {
  position: relative;
  width: 90px;
  height: 90px;
  margin-top: 7px;
}
.snow .snow_auto .for_img i {
  display: block;
  width: 90px;
  height: 90px;
  position: relative;
  top: 0;
  background: none;
  z-index: 1;
}
.snow .snow_auto .for_img i:before {
  content: "";
  width: 60px;
  border: 0;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 44px;
  left: 15px;
}
.snow .snow_auto .for_img i:after {
  content: "";
  width: 2px;
  border: 0;
  height: 60px;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 44px;
  top: 15px;
}
.snow .snow_auto .for_img input[type="file"] {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 0;
  z-index: 2;
  opacity: 0;
}
.snow .snow_auto .for_img .progress {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.snow .snow_auto .for_img .list_photo {
  position: absolute;
  width: 90px;
  height: 90px;
  margin: 0;
  padding: 0;
}
.snow .snow_auto .for_img .list_photo dd {
  padding: 0;
  margin: 0;
}
.snow .snow_auto .for_img .list_photo dd input {
  display: none;
}
.snow .snow_auto .plugin-map-upload {
  width: 90px;
  height: 90px;
}
.snow .snow_footer {
  border-top: 1px solid #000000;
  padding: 13px 20px;
  font: 14px/20px "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
}
.snow .snow_footer button {
  position: absolute;
  right: 20px;
  border: 0;
  font: 12px/20px "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
  color: #ffffff;
  background: none;
}
.snow .snow_footer button[disabled] {
  opacity: .5;
}
.snow .snow_btn {
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  width: 90px;
  height: 24px;
  margin: 10px 0 0 0;
  border-radius: 3px;
}
.snow .lcs_wrap {
  float: none;
}
.snow .lcs_switch {
  top: 0;
}
.snow .progress {
  width: 70px;
  background-color: #e6e6e6;
  border-radius: 3px;
  height: 5px;
}
.snow .progress .progress-bar {
  height: 5px;
  width: 0%;
  background: #3A98D8;
  border-radius: 2px;
}
.snow .lcs_wrap {
  direction: ltr;
  display: inline-block;
  height: 20px;
  vertical-align: middle;
}
.snow .lcs_wrap input {
  display: none;
}
.snow .lcs_switch {
  -ms-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  background: #dddddd;
  border-radius: 30px;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease-in-out;
  width: 38px;
}
.snow .lcs_cursor {
  -ms-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  background: #ffffff;
  border-radius: 100%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.1);
  display: inline-block;
  height: 16px;
  position: absolute;
  top: 2px;
  transition: all .2s linear;
  width: 16px;
  z-index: 10;
}
.snow .lcs_label {
  -ms-transition: all 0.2s ease-in-out 0.1s;
  -webkit-transition: all 0.2s ease-in-out 0.1s;
  color: #ffffff;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 18px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 5px;
  transition: all 0.2s ease-in-out 0.1s;
  width: 33px;
}
.snow .lcs_label.lcs_label_on {
  left: -33px;
  z-index: 6;
}
.snow .lcs_label.lcs_label_off {
  right: -33px;
  z-index: 5;
}
.snow .lcs_switch.lcs_on {
  background: #3A98D8;
  box-shadow: 0 0 2px #3A98D8 inset;
}
.snow .lcs_switch.lcs_on .lcs_cursor {
  left: 20px;
}
.snow .lcs_switch.lcs_on .lcs_label_on {
  left: 10px;
  opacity: 1;
}
.snow .lcs_switch.lcs_off {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 2px #a4a4a4 inset;
}
.snow .lcs_switch.lcs_off .lcs_cursor {
  left: 3px;
}
.snow .lcs_switch.lcs_off .lcs_label_off {
  opacity: 1;
  right: 10px;
}
.snow .lcs_switch.lcs_disabled {
  cursor: default;
  filter: alpha(opacity=65);
  opacity: 0.65;
}
.snow .hide {
  display: none;
}
