.patch {
  font-size: 16px;
  color: #7A7A7A;
  font-family: 微软雅黑;
  text-align: left;
}
.patch .choose {
  margin-right: 40px;
}
.patch .img-name {
  position: RELATIVE;
  margin-top: 10px;
}
.patch .img-name .view-name {
  margin-right: 40px;
}
.patch .img-name .img-all {
  width: 180px;
  height: 180px;
  background-color: #eee;
  border-radius: 50%;
  float: left;
}
.patch .img-name .img-all .view-img {
  width: 180px;
  height: 180px;
  position: ABSOLUTE;
  border-radius: 50%;
}
.patch .img-name .advice {
  color: #999999;
  font-size: 12px;
  font-family: 微软雅黑;
  padding-top: 10px;
}
.patch .link-all {
  clear: both;
  padding-top: 27px;
}
.patch .link-all .link-name {
  margin-right: 10px;
}
.patch .link-all .link-address {
  color: #000;
  width: 228px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #3A98D8;
  border-radius: 2px;
  padding-left: 20px;
}
.patch .caoz-btn .btn-com {
  height: 30px;
  line-height: 30px;
  color: #B4B4B4;
  width: 80px;
  border-radius: 2px;
  font-size: 14px;
  margin-top: 15px;
  position: absolute;
  bottom: 10px;
  font-family: 微软雅黑;
  background-color: #000;
}
.patch .caoz-btn .submit {
  margin-left: 80px;
}
.patch .caoz-btn .submit:hover {
  background-color: #3A97D8;
  color: #fff;
}
.patch .caoz-btn .reset {
  margin-left: 200px;
}
.patch .caoz-btn .reset:hover {
  background-color: #3A97D8;
  color: #fff;
}
.patch .define {
  display: none;
}
.upall {
  position: ABSOLUTE;
  left: 106px;
  display: none;
  z-index: 9;
  top: 0;
}
